@using Oratio.Areas.Identity.Data
@model IEnumerable<Oratio.Models.Intention>

@{
    ViewData["Title"] = "My intentions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My intentions</h1>
@inject CurrentUserRepository currentUserRepository

@if (currentUserRepository.isLoggedInAsFaithful())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AskedIntention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AskedIntention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isApproved)
            </td>
            <td>
                    @ViewBag.Date
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                @*Krzysiek please make it available only for parish administrators*@

                @if (! item.isApproved)
                {
                    <a asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                }                
            </td>
        </tr>
}
    </tbody>
</table>
