@using Oratio.Areas.Identity.Data
@model IEnumerable<Oratio.Models.Mass>
@inject CurrentUserRepository currentUserRepository

@{
    ViewData["Title"] = "Masses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Masses</h1>

 @if (currentUserRepository.isLoggedInAsParish() == true) {
<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="MassGenerationRules" asp-action="Index">Manage Generation Rule</a>
</p>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Church)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intentions)
            </th>
            <th>
                Is approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                    @ViewData["ChurchDescription" + item.Id.ToString()]
            </td>
            <td>
            @foreach(var intentionItem in item.Intentions) {

               @Html.DisplayFor(modelItem => intentionItem.AskedIntention)
                        <br />
            }
            </td>
            <td>
            @foreach (var intentionItem in item.Intentions)
            {
                @Html.DisplayFor(modelItem => intentionItem.isApproved)
                <br />
             }
             </td>
            <td>
            @if (currentUserRepository.isLoggedInAsParish() == true)
                 {
                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                 }
             @if (currentUserRepository.isLoggedInAsFaithful() == true)
                 {
                  <a asp-controller="Intentions" asp-action="CreateSpecificMass" asp-route-massId="@item.Id">Order prayer intention</a>
                 }
            </td>
        </tr>
}
    </tbody>
</table>
